#root {
  width: 100%; /* This ensures it takes the full width of the viewport */
  min-height: 100vh; /* This makes sure it at least covers the full height of the viewport */
  margin: 0; /* This removes automatic centering margins */
  padding: 0; /* This removes padding around the edges */
  text-align: center; /* Keeps text centered, adjust as needed */
}

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232741;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
  z-index: -1;
}

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats, .count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

#tsparticles {
  background-color: #000; /* Ensure contrast */
  height: 100vh; /* Adjust based on your layout needs */
}

.App {
  position: relative;
  width: 100%; /* Ensure it covers the viewport or desired area */
  min-height: 100vh; /* Minimum height to cover the viewport */
  overflow-x: hidden; /* Hide horizontal overflow, if any */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}